In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option("mode.chained_assignment", None)

In [2]:
tbr_premium_list = ["R102", "R108", "R156", "R159", "M749", "R109", "R118", "R218", "UAP1Z", "M729", "M766", "M798", "M866", "M840", "M851", "R150", "R154", "R156", "R157", "R162", "R192", "R249", "UAP001", "U-AP1", "R154 LRR"]

## 讀取202201-04實績

In [3]:
df = pd.read_clipboard()

In [4]:
df.columns = df.columns.str.strip()

In [5]:
df["年月"] = df["年月"].astype(str)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3988 entries, 0 to 3987
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   年月        3988 non-null   object
 1   種類        3988 non-null   object
 2   通路明細      3988 non-null   object
 3   通路-客戶     3988 non-null   object
 4   營業所       3988 non-null   object
 5   舊分類       3988 non-null   object
 6   國別        3988 non-null   object
 7   商品代號      3988 non-null   object
 8   規格        3988 non-null   object
 9   條數        3899 non-null   float64
 10  Gross     3988 non-null   float64
 11  discount  3988 non-null   float64
 12  NET金額     3988 non-null   object
 13  大通路分類     3988 non-null   object
 14  單位膠重      3988 non-null   float64
 15  總膠重       3988 non-null   float64
 16  MTP       3988 non-null   object
 17  預算/前實績    3988 non-null   object
 18  INCH      3988 non-null   object
 19  成本        3988 non-null   object
 20  營業費       3988 non-null   float64
 21  花紋        3988 non-null   object
 22  花紋系列      3988 non-null   object
 23  SECTION   3988 non-null   object
dtypes: float64(6), object(18)
memory usage: 747.9+ KB

In [7]:
df["TBR Premium"] = df["花紋"].map(lambda x: "Yes" if x in tbr_premium_list else "No")

In [8]:
df.to_excel(r"D:\kc.hsu\OneDrive - Bridgestone\Products management\TBR Premium homework from BSCAP\TBR premium_BSFC_2023_RT3.xlsx", index=False)

In [37]:
result = df[df["TBR Premium"] == "Yes"]

In [38]:
result["條數"].sum()

26360

In [39]:
result_all = result.groupby(["年月", "花紋", "商品代號", "MTP", "SECTION"])[["條數"]].sum().unstack("年月")["條數"].reset_index()

In [40]:
result_tbrg = df[(df["通路明細"] != "OE")]

In [41]:
result_tbrg = result_tbrg.groupby(["年月", "花紋", "商品代號", "MTP", "SECTION", "TBR Premium"])[["條數"]].sum().unstack("年月")["條數"].reset_index()

In [42]:
result_tbrg.fillna(0, inplace=True)

In [43]:
result_tbrg

年月,花紋,商品代號,MTP,SECTION,TBR Premium,202201,202202,202203,202204,202205
0,D600,TBR0J53F,TR3,315/80,No,250.0,165.0,319.0,0.0,47.0
1,D600,TBR0J77F,TR3,12,No,7.0,29.0,100.0,0.0,8.0
2,FS400,TBR0J37F,TR3,12,No,34.0,37.0,66.0,50.0,60.0
3,FS400,TBR0J52F,TR3,315/80,No,103.0,54.0,1.0,0.0,0.0
4,FS400,TBR0JA4F,TR3,315/80,No,0.0,139.0,284.0,32.0,35.0
...,...,...,...,...,...,...,...,...,...,...
87,R294,TBR0J058,TR4,265/70,No,0.0,0.0,0.0,0.0,0.0
88,R294,TBR0J136,29.71,315/80,No,0.0,0.0,0.0,0.0,1.0
89,R294,TBR0J136,TR3,315/80,No,418.0,665.0,484.0,423.0,451.0
90,UAP1Z,TBR0J642,TR3,275/70,Yes,0.0,0.0,5.0,0.0,0.0
91,VETZ,TBR08308,TR2,1300,No,0.0,0.0,0.0,0.0,0.0

In [44]:
result_tbrg = result_tbrg.astype({"202201": int, "202202": int, "202203": int, "202204": int, "202205": int})

In [45]:
result_tbrg.to_excel(r"D:\kc.hsu\OneDrive - Bridgestone\KPI\2022 GKPI\20220608_TBR premium_202201-05ACT.xlsx", index=False)

## 2021實績TBR Premium計算

In [151]:
sales21 = pd.read_clipboard()

In [152]:
sales21.columns = sales21.columns.str.strip()

In [153]:
sales21["TBR Premium"] = sales21["花紋"].map(lambda x: "Yes" if x in tbr_premium_list else "No")

In [158]:
sales21 = sales21[sales21["通路明細"] != "OE"]

In [159]:
sales21_tbrg = sales21.groupby(["年月", "花紋", "商品代號", "MTP", "SECTION", "TBR Premium"])[["條數"]].sum().unstack("年月")["條數"].reset_index()

In [160]:
sales21_tbrg.fillna(0, inplace=True)

In [161]:
sales21_tbrg.to_excel(r"D:\kc.hsu\OneDrive - Bridgestone\KPI\2022 GKPI\20220601_TBR premium_2021ACT - BSFC.xlsx", index=False)

## 2019 2020實績TBR Premium計算

In [162]:
sales1920 = pd.read_clipboard()

In [163]:
sales1920.columns = sales1920.columns.str.strip()

In [164]:
sales1920["TBR Premium"] = sales1920["花紋"].map(lambda x: "Yes" if x in tbr_premium_list else "No")

In [165]:
sales1920["年月"] = sales1920["年月"].astype(str)

In [166]:
sales1920["年月"] = sales1920["年月"].map(lambda x: x.replace("108", "2019") if "108" in x else x.replace("109", "2020"))

In [167]:
sales19 = sales1920[sales1920["年月"].str.contains("2019")]

In [168]:
sales19_tbrg = sales19.groupby(["年月", "花紋", "商品代號", "MTP", "SECTION", "TBR Premium"])[["條數"]].sum().unstack("年月")["條數"].reset_index()

In [169]:
sales20 = sales1920[sales1920["年月"].str.contains("2020")]

In [170]:
sales20_tbrg = sales20.groupby(["年月", "花紋", "商品代號", "MTP", "SECTION", "TBR Premium"])[["條數"]].sum().unstack("年月")["條數"].reset_index()

In [171]:
sales19_tbrg.fillna(0, inplace=True)
sales20_tbrg.fillna(0, inplace=True)

In [172]:
sales19_tbrg.to_excel(r"D:\kc.hsu\OneDrive - Bridgestone\KPI\2022 GKPI\20220601_TBR premium_2019ACT - BSFC.xlsx", index=False)
sales20_tbrg.to_excel(r"D:\kc.hsu\OneDrive - Bridgestone\KPI\2022 GKPI\20220601_TBR premium_2020ACT - BSFC.xlsx", index=False)

## 22OB TBR premium計算

In [14]:
ob = pd.read_clipboard()

In [15]:
ob.columns = ob.columns.str.strip()

In [18]:
ob["TBR Premium"] = ob["花紋"].map(lambda x: "Yes" if x in tbr_premium_list else "No")

In [19]:
ob["年月"] = ob["年月"].astype(str)

In [20]:
ob_tbrg = ob.groupby(["年月", "花紋", "商品代號", "MTP", "SECTION", "TBR Premium"])[["條數"]].sum().unstack("年月")["條數"].reset_index()

In [21]:
ob_tbrg.fillna(0, inplace=True)

In [23]:
ob_tbrg.to_excel(r"D:\kc.hsu\OneDrive - Bridgestone\KPI\2022 GKPI\20220607_TBR premium_22OB - BSFC.xlsx", index=False)

## 計算2023和2024的TBR Premium ratio

In [46]:
df = pd.read_clipboard()

In [48]:
df.columns = ["類別", "type", "pattern", "2023", "2024"]

In [55]:
df.fillna(0, inplace=True)

In [58]:
df = df.astype({"2023": int, "2024": int})

In [59]:
df["pattern"].unique()

array(['R225', 'R294', 'R156', 'R150', 'G515', 'M810', 'R168', 'M778',
       'R102', 'R224', 'R249', 'M729', 'G582', 'FS400', 'M805', 'R179',
       'D600', 'R162', 'U-AP1', 'M866', 'R154', 'R154 LRR', 'FS FT469',
       'BSCN EV', 'R208', 'UAP001', 'R180', 'R184', 'R227', 'R192',
       'G610', 'G558', 'VSJA', 'G623', 'M840', 'M749', 'M798'],
      dtype=object)

In [62]:
df["TBR Premium"] = df["pattern"].map(lambda x: "Yes" if x in tbr_premium_list else "No")

In [71]:
df.to_excel(r"D:\kc.hsu\OneDrive - Bridgestone\Products management\TBR Premium homework from BSCAP\TBR premium_BSFC_2023_2024.xlsx", index=False)

## 計算當月TBR Premium ratio

In [5]:
import mitosheet

In [4]:
df = pd.read_excel(r"C:\Users\kc.hsu\Desktop\202206_ACTSizeData.xlsx")

In [40]:
def gkpi_figure(data:"size data"):
    act_sales = data[(data["國內市場財別"] == "TBR(G)") & (data["預算/前實績"] == "22ACT") & (data["大通路分類"] == "REP")]
    tbr_rep_volume = act_sales["條數"].sum() / 1000
    tbr_rep_monetary = act_sales["NET金額"].sum()
    act_sales["TBR Premium"] = act_sales["花紋"].map(lambda x: "Yes" if x in tbr_premium_list else "No")
    tbr_premium_volume = act_sales[act_sales["TBR Premium"] == "Yes"]["條數"].sum() / 1000
    print("TBR REP volume in June is {:.3f}".format(tbr_rep_volume))
    print("TBR REP act NET sales(local currency) is {:,.3f}".format(tbr_rep_monetary))
    print("TBR Premium volume is {:.3f}".format(tbr_premium_volume))

In [41]:
gkpi_figure(df)

TBR REP volume in June is 11.946
TBR REP act NET sales(local currency) is 107,063,113.000
TBR Premium volume is 5.148