In [38]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [72]:
df = pd.read_clipboard()

In [73]:
df = df.reset_index()

In [74]:
df.columns = df.columns.str.strip()

In [75]:
df = df.dropna(subset=["統一編號"])

In [76]:
df["統一編號"] = df["統一編號"].astype(int).astype(str)

In [84]:
df["出貨條件"] = df["出貨條件"].map(lambda x: str(x).replace(".0", "") if pd.notna(x) else x)

In [85]:
deliver_place = {"11": "北區", "73": "高雄", "62": "台中", "71": "嘉義", "72": "台南"}

In [88]:
df["出貨點"] = df["出貨條件"].map(deliver_place)

In [94]:
df["販社通路"] = df["販社通路"].str.strip()

In [100]:
df[df[["統一編號", "出貨點"]].duplicated(keep=False) & pd.notna(df["大胎契約"]) & (~df["客戶名稱"].str.contains("普利司通"))].to_clipboard()

In [109]:
result = df[df["大胎契約"].isin([2, 3])]

In [112]:
result[result["客戶簡稱"].duplicated(keep=False)].to_clipboard()

In [113]:
df = pd.read_clipboard()

In [119]:
result = df[["客戶編號", "客戶名稱", "販社通路", "大胎契約", "業務名稱"]]

In [129]:
with pd.ExcelWriter(r"D:\kc.hsu\OneDrive - Bridgestone\行銷推廣\掛牌店\20230712_FMC名單1.xlsx") as writer:
    for name in result["業務名稱"].unique():
        result[result["業務名稱"] == name].to_excel(writer, sheet_name=name, index=False)

In [81]:

import pandas as pd

class Student:
    
    # 建立學生計數的變數
    student_count = 0
    avg_score = 30
    score_data = []
    
    def __init__(self, name: str, score: dict, avg_score: int=30) -> None:
        """學生類別可以用來比較不同學生之間的成績。

        Args:
            name (str): 學生姓名
            score (dict): 學生成績
        """
        self.name = name
        self.score = score
        Student.avg_score = avg_score
        Student.student_count += 1 # 每次建立新的物件的時候就會自動增加學生數的計數
        Student.score_data.append(self.score)
        
    def compare(self, name: object) -> None:
        diff = (sum(self.score.values()) - sum(name.score.values()))
        if diff > 0:
            print(self.name + "成績比較好")
        elif diff == 0:
            print("平手")
        else:
            print(name.name + "真的很厲害")
    
    @classmethod        
    def getCount(cls): # 類別方法中的第一個參數是用cls來調用類別屬性
        print("目前登記學生人數為{}人".format(cls.student_count))
        
    
    @classmethod
    def getDataFrame(cls) -> pd.DataFrame:
        return pd.DataFrame(cls.score_data)

In [82]:
liang = Student("阿良", {"數學": 50, "英文": 100})

In [83]:
fenlan = Student("芬蘭", {"數學": 100, "英文": 100})

In [84]:
Student.getDataFrame()

    數學   英文
0   50  100
1  100  100