In [1]:
import pandas as pd
# from pivottablejs import pivot_ui
# import qgrid

pd.set_option("display.max_columns", None)
# pd.set_option("display.max_rows", None)
pd.set_option("mode.chained_assignment", None)
import plotly.express as px
import tkinter as tk
from tkinter import filedialog
from datetime import datetime

In [20]:
pcode = pd.read_clipboard()

In [34]:
p_list = pcode["BPC"].values.tolist()

In [35]:
df = pd.read_pickle(r"D:\kc.hsu\OneDrive - Bridgestone\數據\銷售數據\長期銷售記錄\2017-202208.pkl")

In [36]:
df = df[df["母通路"] != "OE"].reset_index(drop=True)

In [37]:
df["實際出貨日"] = pd.to_datetime(df["實際出貨日"])

In [38]:
df.columns

Index(['訂單日期', '實際出貨日', '訂單單號', '訂單項次', '買方', '物料', '物料說明', '國別', '銷售數量',
       '銷貨單價', '客戶名稱', '母通路', '大通路', '小通路', '日報通路', '業務名稱', '業務負責區域', '業務所屬區域',
       '客戶登記地址', '客戶城市', '規格', '花紋', '工廠', 'TBR Premium', '輪胎類別', '品牌',
       '客戶等級'],
      dtype='object')

In [40]:
result = df.groupby([pd.Grouper(key="實際出貨日", freq="Y"), "輪胎類別", "規格", "花紋", "物料"])[["銷售數量"]].sum().astype(int)

In [41]:
result = result.unstack("實際出貨日").reset_index()

In [42]:
result.columns = ["輪胎類別", "規格", "花紋", "物料", "2017數量", "2018數量", "2019數量", "2020數量", "2021數量", "2022數量"]

In [43]:
result.fillna(0, inplace=True)

In [44]:
result = result.astype({'2017數量': int, '2018數量': int, '2019數量': int, '2020數量': int,
       '2021數量': int, '2022數量':int})

In [45]:
result

,輪胎類別,規格,花紋,物料,2017數量,2018數量,2019數量,2020數量,2021數量,2022數量
0,LSR,205/75R17.5,R227,LSR08328,0,0,0,0,35,0
1,LSR,205/75R17.5,R294,LSR05127,3706,3340,3392,2674,2439,1345
2,LSR,215/75R17.5,R156,LSR0L045,0,0,0,0,499,312
3,LSR,215/75R17.5,R294,LSR03733,3756,4643,5122,5000,615,0
4,LSR,215/75R17.5,R294,LSR03784,0,0,0,0,25,0
...,...,...,...,...,...,...,...,...,...,...
120,TBR,425/65R22.5,M748,TBR05092,4,9,4,0,0,0
121,TBR,445/65R22.5,M748,TBR05161,0,2,0,0,0,0
122,TBR,825R20,R210,TBR06461,419,336,253,86,0,0
123,TBR,900R20,G610,TBR06642,137,113,78,19,5,0
124,TBR,900R20,G610,TBR0L041,0,0,0,0,24,0

In [46]:
result.to_excel(r"D:\kc.hsu\OneDrive - Bridgestone\Products management\產品certificate相關\size list idea_2017-2022銷售實績.xlsx", index=False)