In [1]:
import pandas as pd
import warnings
pd.set_option("display.max_columns", None)
pd.set_option("mode.chained_assignment", None)
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_clipboard()

In [3]:
df["List"] = df[["1", "2", "3", "4"]].values.tolist()

In [ ]:
df = df[["Group", "MTP code", "List", "1", "規格 ", "花紋", "產地", "訂單別"]]

In [5]:
result = df.explode("List")

In [12]:
result = result[result["List"].notna()]

In [ ]:
result.columns = ['Group', 'MTP code', 'PCODE', '現用PCODE', '規格', '花紋', '產地', '訂單別']

In [ ]:
result.reset_index(drop=True, inplace=True)

In [ ]:
tbr_premium_list = ["R102", "R108", "R156", "R159", "M749", "R109", "R118", "R218", "UAP1Z", "M729", "M766", "M798", "M866", "M840",
                    "M851", "R150", "R154", "R156", "R157", "R162", "R192", "R249", "UAP001", "U-AP1", "R154 LRR", "R150BZ", "R150AZ", "UAP1",
                   "R150EZ"]

In [ ]:
result["TBR_Premium"] = result["花紋"].map(lambda x: "Yes" if x in tbr_premium_list else "No")

In [ ]:
result.to_excel(r"C:\Users\kc.hsu\Python workspace\sales_related\ReferenceTable\20221123_PCODE整理表.xlsx", index=False)

In [ ]:
fin_data = pd.read_excel(r"D:\kc.hsu\OneDrive - Bridgestone\數據\2022ACT\2021-2022_Size Data_All_TBR_rawling_data.xlsx", None)

In [ ]:
fin_data = fin_data["Sheet1"]

In [ ]:
fin_data = fin_data[(fin_data["預算/前實績"] == "22ACT") & (fin_data["月份"].isin(["Aug", "Sep", "Oct", "Nov"])) & (fin_data["大通路分類"] == "REP")]

In [ ]:
fin_result = fin_data.groupby(["商品代號"])[["條數", "成本", "營業費", "其他業外調整"]].sum().reset_index()

In [ ]:
fin_result = fin_result[fin_result["條數"] != 0]

In [ ]:
fin_result["平均單條OP"] = fin_result.apply(lambda x: (x["成本"] + x["營業費"] + x["其他業外調整"]) / x["條數"], axis=1)

In [ ]:
op_dict = dict(zip(fin_result["商品代號"], fin_result["平均單條OP"]))

In [ ]:
result["Q3平均單條OP"] = result["PCODE"].map(op_dict)

In [ ]:
result

## 2023漲價價格表整理

In [18]:
result.columns = result.columns.str.strip()

In [20]:
result = result[["List", "規格", "花紋", "產地"]]

In [26]:
result.columns

Index(['List', '規格', '花紋', '產地'], dtype='object')

In [24]:
price = pd.read_clipboard()

In [29]:
price.columns = ["規格", "花紋", "產地", "23 New List"]

In [33]:
tbr_price_list = pd.merge(price, result, on=["規格", "花紋", "產地"])

In [35]:
tbr_price_list = tbr_price_list[["List", "規格", "花紋", "產地", "23 New List"]]

In [37]:
tbr_price_list["未稅Net"] = tbr_price_list["23 New List"].map(lambda x: (x / 1.05) * 0.93 * 0.88)

In [38]:
tbr_price_list

        List           規格    花紋  產地  23 New List         未稅Net
0   TBR06254  225/90R17.5  R225  JP         9300   7248.685714
1   TBR06042  225/90R17.5  M810  JP         9800   7638.400000
2   TBR06193  225/90R17.5  M810  JP         9800   7638.400000
3   TBR09920  245/70R17.5  R168  JP        11600   9041.371429
4   TBR06272  245/70R17.5  R168  JP        11600   9041.371429
5   TBR06491  285/70R19.5  R184  JP        12900  10054.628571
6   TBR06381  285/70R19.5  R184  JP        12900  10054.628571
7   TBR0L098      1100R20  M840  TH        17400  13562.057143
8   TBR04720      12R22.5  R150  JP        18500  14419.428571
9   TBR04718      12R22.5  R150  JP        18500  14419.428571
10  TBR0J067      12R22.5  R150  TH        16500  12860.571429
11  TBR0L127      12R22.5  R150  TH        16500  12860.571429
12  TBR0J228      12R22.5  M729  TH        17100  13328.228571
13  TBR0J085      12R22.5  R224  TH        15900  12392.914286
14  TBR0J658  275/70R22.5  R162  TH        16800  13094.400000
15  TBR0J621  275/70R22.5  R162  TH        16800  13094.400000
16  TBR0J458  275/70R22.5  R162  TH        16800  13094.400000
17  TBR0J596  275/70R22.5  R162  TH        16800  13094.400000
18  TBR0J642  275/70R22.5  UAP1  TH        17500  13640.000000
19  TBR02508  295/80R22.5  R294  JP        17100  13328.228571
20  TBR02507  295/80R22.5  R294  JP        17100  13328.228571
21  TBR05553  295/80R22.5  R150  JP        17200  13406.171429
22  TBR0J247  295/80R22.5  R150  TH        15400  12003.200000
23  TBR0J660  295/80R22.5  M798  TH        18300  14263.542857
24  TBR0J394  295/80R22.5  M798  TH        18300  14263.542857
25  TBR0J295  295/80R22.5  R156  TH        15400  12003.200000
26  TBR0L132  295/80R22.5  R156  TH        15400  12003.200000
27  TBR05798  295/80R22.5  R192  JP        18100  14107.657143
28  TBR05834  315/80R22.5  G515  JP        20055  15631.440000
29  TBR05611  315/80R22.5  R150  JP        20055  15631.440000
30  TBR0J600  315/80R22.5  R150  TH        17850  13912.800000
31  TBR0J416  315/80R22.5  R150  TH        17850  13912.800000
32  TBR0J136  315/80R22.5  R294  TH        17955  13994.640000
33  TBR0J487  315/80R22.5  M729  TH        18480  14403.840000
34  TBR0J488  315/80R22.5  M729  TH        18480  14403.840000
35  TBR0J314  315/80R22.5  G582  TH        18375  14322.000000
36  TBR0J418  315/80R22.5  M805  TH        20370  15876.960000
37  TBR0J414  385/65R22.5  R168  TH        22900  17848.914286
38  TBR0J070  385/65R22.5  R168  TH        22900  17848.914286
39  TBR0J185  385/65R22.5  R249  TH        22900  17848.914286
40  TBR00546  295/80R22.5  R154  JP        18100  14107.657143
41  TBR0J217  265/70R19.5  R168  TH        12900  10054.628571
42  TBR0J591      12R22.5  G540  TH        17100  13328.228571

In [39]:
lsr = pd.read_clipboard()

In [42]:
lsr.columns = ["規格", "花紋", "產地", "含稅牌價"]

In [46]:
lsr_price_list = pd.merge(lsr, result, on=["規格", "花紋", "產地"])

In [48]:
lsr_price_list = lsr_price_list[["List", "規格", "花紋", "產地", "含稅牌價"]]

In [54]:
lsr_price_list["含稅牌價"] = lsr_price_list["含稅牌價"].str.replace(",", "").astype(int)

In [55]:
lsr_price_list["未稅Net"] = lsr_price_list["含稅牌價"].map(lambda x: (x / 1.05) * 0.965)

In [57]:
lsr_price_list.columns = ["List", "規格", "花紋", "產地", "23 New List", "未稅Net"]

In [60]:
final = pd.concat([tbr_price_list, lsr_price_list]).reset_index(drop=True)

In [61]:
final.to_excel(r"D:\kc.hsu\OneDrive - Bridgestone\價格相關\2023年\提供給潔欣的資料\20221222_價格底表.xlsx", index=False)