In [75]:
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option("mode.chained_assignment", None)
import tkinter as tk
from tkinter import filedialog
from datetime import datetime

In [8]:
root = tk.Tk()
root.withdraw()
path = filedialog.askopenfilename()

In [37]:
df = pd.read_excel(path)

In [38]:
df.columns

Index(['公司名稱', '公司統編', '是否參加此次活動', '參加人數', '姓名', '性別', '出生年月日', '身份證字號',
       '聯絡電話', '身高', '衣服尺寸', '飲食習慣', '第一位參加者姓名', '性別.1', '出生年月日.1', '身份證字號.1',
       '聯絡電話.1', '身高.1', '衣服尺寸.1', '飲食習慣.1', '第二位參加者姓名', '性別.2', '出生年月日.2',
       '身份證字號.2', '聯絡電話.2', '身高.2', '衣服尺寸.2', '飲食習慣.2', '是否參與茶道表演活動', '填答時間',
       '填答秒數', 'IP紀錄', '額滿結束註記', '使用者紀錄', '會員時間', '會員編號', '自訂ID', '備註'],
      dtype='object')

In [39]:
df1 = df[['公司名稱', '公司統編', '是否參加此次活動', '參加人數', '姓名', '性別', '出生年月日', '身份證字號',
       '聯絡電話', '身高', '衣服尺寸', '飲食習慣']]
df2 = df[['公司名稱', '公司統編', '是否參加此次活動', '參加人數', '第一位參加者姓名', '性別.1', '出生年月日.1', '身份證字號.1',
       '聯絡電話.1', '身高.1', '衣服尺寸.1', '飲食習慣.1']]
df3 = df[['公司名稱', '公司統編', '是否參加此次活動', '參加人數', '第二位參加者姓名', '性別.2', '出生年月日.2',
       '身份證字號.2', '聯絡電話.2', '身高.2', '衣服尺寸.2', '飲食習慣.2']]

In [40]:
df2.columns = df1.columns
df3.columns = df1.columns

In [41]:
result = pd.concat([df1, df2, df3])

In [42]:
result["公司統編"] = result["公司統編"].astype(str).map(lambda x: "0" + x if len(x) < 8 else x)

In [71]:
result = result[['公司名稱', '公司統編', '姓名', '性別', '出生年月日', '身份證字號',
       '聯絡電話', '身高', '衣服尺寸', '飲食習慣']]

In [44]:
result = result[~result["姓名"].isna()]

In [47]:
result["身高"] = result["身高"].astype(int)

In [60]:
result["聯絡電話"] = result["聯絡電話"].astype(str).map(lambda x: "NA" if x == "nan" else "0" + x).map(lambda x: x.replace(".0", "") if len(x) > 2 else x)

In [79]:
result["年紀"] = datetime.today().year - result["出生年月日"].dt.year

In [96]:
result["群組"] = pd.cut(result["年紀"], bins=[20, 40, 60, 99], right=True, labels=["新生代", "中生代", "資深世代"])

In [97]:
result.to_excel(r"D:\kc.hsu\OneDrive - Bridgestone\行銷推廣\活動規劃\202210加賀屋表揚會\20220912_參與名單_revised.xlsx", index=False)