In [137]:
import numpy as np
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option("mode.chained_assignment", None)

import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt

import tkinter as tk
from tkinter import filedialog

import statsmodels.api as sm
# from statsmodels.formula.api import ols
# from statsmodels.compat import lzip
# from __future__ import print_function

$$ Price \ Elasticity \ of \ Demand = \frac{\% \ Change \ in \ \color{red}{Quantity} \ \color{white}{Demand} \ of \ Product \ \color{red}{A}}{\% \ Change \ in \ \color{red}{Price} \ \color{white}{of} \ Product \ \color{red}{A}} $$
$$ Cross \ Price \ Elasticity \ of \ Demand = \frac{\% \ Change \ in \ \color{red}{Quantity} \ \color{white}{Demand} \ of \ Product \ \color{red}{A}}{\% \ Change \ in \ \color{red}{Price} \ \color{white}{of} \ Product \ \color{red}{B}} $$

## **Cross Price elasticity of demand**

#### **Competitors/substitutes:**
We would have a **positive** cross-price correlation:
> ## When one product <font color="red">decreases</font> price, another one's quantity sold <font color="red">decreases</font>

#### **Complements:**
Getting a **negtive** cross-price correlation:
> ## When one product <font color="red">decreases</font> price, another one's quantity sold <font color="red">increases</font>

In [99]:
root = tk.Tk()
root.withdraw()
path = filedialog.askopenfilename()

In [192]:
df = pd.read_csv(path, encoding="ISO-8859-1")
df_tbr = df[(df["BRIDGESTONE TYPE"] == "TBR") & (df["DIMENSION (Truck Tyres)"].str.contains("315/80/22.5")) & (df["BRAND"].isin(["MAXXIS", "MICHELIN", "BRIDGESTONE"]))]

In [193]:
df_tbr.columns

Index(['Period', 'Item', 'BRAND', 'REGION', 'BRIDGESTONE TYPE',
       'DIMENSION (Truck Tyres)', 'RIMDIAMET.'/MM', 'WIDTH IN INCH',
       'WIDTH IN MM', 'ASPECT RATIO', 'TUBE / TUBLESS', 'LOADINDEX',
       'FirstActivity', 'SALES UNITS', 'SALES <LC>', 'PRICE TWD/UN.',
       'TBR BRAND', 'LSR2 BRAND', 'TTL BRAND', 'For Report'],
      dtype='object')

In [194]:
df_tbr["Product"] = df_tbr["BRAND"] + " " + df_tbr["Item"] + " " + df_tbr["DIMENSION (Truck Tyres)"]
test1 = df_tbr.groupby(["Period", "Product"]).agg({"PRICE TWD/UN.": "mean", "SALES UNITS": "sum"}).reset_index()
# test1["UNIT PRICE"] = test1["SALES <LC>"] / test1["SALES UNITS"]
x_pivot = test1.pivot(index="Period", columns="Product", values="PRICE TWD/UN.")
y = test1.pivot(index="Period", columns="Product", values="SALES UNITS")

In [195]:
x_value = pd.DataFrame(x_pivot.to_records())
x_value.fillna(method="ffill", inplace=True)
# x_values.dropna(axis=1, inplace=True)
x_value

,Period,BRIDGESTONE G515 315/80/22.5,BRIDGESTONE G582 315/80/22.5,BRIDGESTONE M729 315/80/22.5,BRIDGESTONE M778 315/80/22.5,BRIDGESTONE M798 315/80/22.5,BRIDGESTONE M805 315/80/22.5,BRIDGESTONE M840 315/80/22.5,BRIDGESTONE R150 315/80/22.5,BRIDGESTONE R156 315/80/22.5,BRIDGESTONE R294 315/80/22.5,MAXXIS MA219 315/80/22.5,MAXXIS MA268 315/80/22.5,MAXXIS MD816 315/80/22.5,MAXXIS MD880 315/80/22.5,MAXXIS UL-387 315/80/22.5,MAXXIS UM816 315/80/22.5,MAXXIS UM958 315/80/22.5,MAXXIS UR279 315/80/22.5,MAXXIS UR288 315/80/22.5,MICHELIN X LINE ENERGY Z 315/80/22.5,MICHELIN X MULITWAY XZER 315/80/22.5,MICHELIN X MULTI D 315/80/22.5,MICHELIN X MULTI ENERGY Z 315/80/22.5,MICHELIN X MULTI HD D 315/80/22.5,MICHELIN X MULTI HD Z 315/80/22.5,MICHELIN X MULTI Z 315/80/22.5,MICHELIN X MULTIWAY 3D XDE 315/80/22.5,MICHELIN X MULTIWAY 3D XZE 315/80/22.5,MICHELIN X WORKS HD D 315/80/22.5,MICHELIN X WORKS HD Z 315/80/22.5,MICHELIN XDE2 PLUS 315/80/22.5,MICHELIN XZA2 ENERGY 315/80/22.5,MICHELIN XZA2 PLUS ENERGY 315/80/22.5
0,2019-01-01,13776.0,13960.333333,14750.000000,NaN,NaN,NaN,NaN,14331.000000,NaN,13991.333333,NaN,NaN,11565.333333,NaN,12800.0,12574.500000,11950.000000,13500.0,11964.000000,17500.0,16000.000000,NaN,16018.500000,NaN,NaN,NaN,17833.333333,17869.333333,NaN,NaN,NaN,17800.0,NaN
1,2019-02-01,14119.0,14500.000000,15277.666667,NaN,NaN,16000.000000,NaN,14082.000000,NaN,13796.000000,NaN,12590.500000,12646.000000,NaN,12561.0,12554.750000,12900.000000,13500.0,11898.000000,17000.0,16121.500000,NaN,16200.500000,NaN,NaN,NaN,17981.500000,17301.500000,NaN,NaN,17500.000000,17800.0,NaN
2,2019-03-01,14000.0,14000.000000,14196.666667,NaN,NaN,16000.000000,NaN,14425.250000,NaN,13774.666667,NaN,12500.000000,12817.000000,NaN,12561.0,12442.500000,11980.500000,12250.0,12199.000000,17000.0,16000.000000,NaN,16651.000000,NaN,NaN,NaN,17442.000000,18132.666667,NaN,NaN,17500.000000,13500.0,NaN
3,2019-04-01,14976.5,13255.000000,15279.666667,NaN,NaN,16000.000000,NaN,14450.333333,NaN,14154.666667,NaN,11500.000000,12250.000000,NaN,12561.0,12317.500000,11875.000000,13000.0,11674.666667,16300.0,16000.000000,NaN,16338.000000,NaN,NaN,NaN,18875.000000,17285.333333,NaN,NaN,17500.000000,17500.0,NaN
4,2019-05-01,14750.0,14303.000000,15413.000000,NaN,NaN,16932.000000,14500.0,14093.333333,NaN,14114.666667,NaN,13000.000000,11941.000000,NaN,12561.0,12308.500000,11784.333333,13000.0,11823.333333,17000.0,17042.000000,NaN,17043.333333,NaN,NaN,NaN,20250.000000,17765.000000,NaN,NaN,17500.000000,17200.0,NaN
5,2019-06-01,14000.0,14428.333333,14500.000000,NaN,NaN,15250.000000,14500.0,14258.000000,NaN,14192.333333,NaN,13000.000000,12500.000000,NaN,13000.0,12500.000000,12000.000000,13000.0,11744.666667,17000.0,18000.000000,NaN,15423.333333,NaN,NaN,NaN,17150.000000,17918.333333,NaN,NaN,17500.000000,17200.0,NaN
6,2019-07-01,14000.0,13500.000000,14460.333333,NaN,NaN,16000.000000,14500.0,14581.500000,NaN,13928.500000,NaN,12750.000000,12000.000000,NaN,12800.0,12461.000000,12000.000000,11500.0,11738.333333,17000.0,18000.000000,NaN,16116.000000,NaN,NaN,NaN,17127.500000,17729.666667,NaN,NaN,17000.000000,17100.0,NaN
7,2019-08-01,14400.0,14000.000000,14672.000000,NaN,NaN,15500.000000,14500.0,14971.750000,14000.0,14104.333333,NaN,12500.000000,12000.000000,NaN,12500.0,12453.000000,11750.000000,11500.0,11992.000000,17750.0,18000.000000,NaN,16468.666667,NaN,NaN,NaN,20250.000000,17700.000000,NaN,NaN,17000.000000,17100.0,NaN
8,2019-09-01,13924.0,13890.000000,14678.666667,NaN,NaN,16000.000000,14500.0,14340.333333,14000.0,14250.000000,NaN,10650.000000,13677.000000,NaN,12500.0,11751.333333,12000.000000,13150.0,11706.666667,17750.0,17500.000000,NaN,16451.500000,NaN,NaN,NaN,17900.500000,17400.000000,NaN,NaN,17000.000000,17100.0,NaN
9,2019-10-01,13903.0,13500.000000,15326.000000,NaN,NaN,13000.000000,14500.0,14470.000000,14000.0,13938.333333,NaN,11500.000000,10000.000000,NaN,10000.0,11935.000000,11737.000000,13150.0,11716.333333,18000.0,16000.000000,NaN,16839.333333,NaN,NaN,NaN,17350.000000,17500.000000,NaN,NaN,17500.000000,17473.0,NaN
10,2019-11-01,14000.0,14000.000000,14956.333333,NaN,NaN,14750.000000,14500.0,14442.000000,14000.0,13643.000000,NaN,12250.000000,13500.000000,NaN,11716.5,11827.000000,11773.000000,13150.0,11745.666667,18000.0,16000.000000,NaN,16603.666667,NaN,NaN,NaN,17975.000000,17419.000000,NaN,NaN,16800.000000,17000.0,NaN
11,2019-12-01,13883.0,14000.000000,14965.333333,NaN,NaN,15000.000000,14500.0,13865.666667,14500.0,14141.333333,NaN,12250.000000,13500.000000,NaN,11000.0,12402.666667,11750.000000,13000.0,11446.000000,18000.0,16000.000000,NaN,16884.000000,NaN,NaN,NaN,17000.000000,17419.333333,NaN,NaN,16800.000000,17000.0,NaN
12,2020-01-01,14000.0,14000.000000,15592.500000,NaN,NaN,15700.000000,14500.0,14486.250000,12000.0,13909.333333,NaN,12500.000000,13500.000000,NaN,12500.0,11944.000000,11750.000000,13000.0,11249.333333,18000.0,16000.000000,NaN,16749.666667,NaN,NaN,NaN,17000.000000,17500.000000,NaN,NaN,18800.000000,17000.0,NaN
13,2020-02-01,15400.0,14000.000000,15025.000000,NaN,NaN,16000.000000,14500.0,14003.000000,12000.0,14130.500000,NaN,12250.000000,12566.000000,NaN,12500.0,12260.333333,11967.333333,13000.0,11278.000000,15000.0,16000.000000,NaN,16650.666667,NaN,NaN,NaN,17000.000000,17616.333333,18400.0,NaN,18800.000000,17000.0,NaN
14,2020-03-01,13125.0,13270.000000,14467.500000,NaN,NaN,16000.000000,14500.0,13962.666667,15000.0,13565.000000,NaN,11500.000000,12326.666667,NaN,12500.0,11996.000000,11624.000000,13000.0,11950.666667,15000.0,15500.000000,NaN,16600.000000,NaN,NaN,NaN,17375.000000,17202.000000,17000.0,NaN,18800.000000,17000.0,NaN
15,2020-04-01,14000.0,13426.000000,14838.000000,NaN,NaN,14000.000000,14500.0,14591.000000,15000.0,14517.000000,NaN,11833.333333,11820.000000,NaN,12500.0,12131.000000,11500.000000,13000.0,11386.666667,15000.0,15500.000000,NaN,16150.000000,NaN,NaN,NaN,17750.000000,17954.333333,17000.0,NaN,18800.000000,17000.0,NaN
16,2020-05-01,14000.0,14000.000000,14575.500000,NaN,NaN,15000.000000,14500.0,14070.000000,15000.0,14511.666667,NaN,12000.000000,12250.000000,NaN,12500.0,12900.000000,11750.000000,12500.0,11425.333333,15000.0,16250.000000,NaN,16000.000000,NaN,NaN,NaN,21500.000000,16966.666667,15500.0,NaN,16500.000000,17000.0,NaN
17,2020-06-01,13843.0,13344.000000,14602.750000,NaN,NaN,15000.000000,14500.0,14548.250000,15000.0,14072.000000,NaN,13750.000000,11500.000000,NaN,12500.0,12654.500000,11500.000000,13500.0,11606.000000,15000.0,17000.000000,NaN,16230.500000,NaN,NaN,NaN,16968.500000,14062.666667,19097.0,NaN,16500.000000,17000.0,NaN
18,2020-07-01,14000.0,14000.000000,14004.000000,NaN,NaN,15250.000000,14500.0,13749.000000,15000.0,13666.666667,NaN,11866.333333,12500.000000,NaN,12000.0,11500.000000,11250.000000,13500.0,11524.666667,15000.0,17500.000000,NaN,16482.000000,NaN,NaN,NaN,17299.333333,17141.333333,19132.0,NaN,17150.000000,17249.0,NaN
19,2020-08-01,14000.0,13417.000000,15095.000000,NaN,NaN,16000.000000,14500.0,13921.000000,15000.0,13748.666667,NaN,12000.000000,12500.000000,NaN,12500.0,12413.666667,11500.000000,13000.0,11457.666667,15000.0,17500.000000,NaN,15500.000000,NaN,NaN,NaN,16988.000000,17456.000000,17500.0,NaN,23500.000000,16500.0,NaN
20,2020-09-01,14000.0,13351.000000,15073.500000,NaN,NaN,14750.000000,14500.0,13889.000000,15000.0,14022.333333,NaN,11833.333333,11500.000000,NaN,12500.0,12181.000000,11500.000000,13500.0,11439.333333,15000.0,16000.000000,NaN,16286.000000,NaN,NaN,NaN,16183.000000,17348.000000,17910.0,NaN,17036.500000,17457.0,NaN
21,2020-10-01,14000.0,14000.000000,14605.666667,NaN,NaN,14750.000000,14500.0,13888.000000,15000.0,13989.000000,11000.0,11833.333333,10500.000000,13500.0,12500.0,11500.000000,11250.000000,11000.0,11151.333333,15000.0,17333.333333,NaN,16140.500000,NaN,NaN,NaN,16928.500000,17785.666667,19500.0,NaN,16651.000000,17343.0,NaN
22,2020-11-01,14000.0,13299.666667,14673.500000,NaN,NaN,14750.000000,14500.0,13495.000000,15000.0,13820.666667,11000.0,11833.333333,12365.000000,13500.0,12117.0,11451.333333,11250.000000,12250.0,11372.333333,15000.0,16000.000000,NaN,15211.500000,NaN,17800.0,NaN,17500.000000,17385.666667,21500.0,NaN,15718.000000,17718.0,NaN
23,2020-12-01,14000.0,13365.333333,14199.000000,NaN,14000.0,16250.000000,14500.0,13686.000000,15000.0,14281.666667,11000.0,11000.000000,12500.000000,12500.0,12000.0,11494.000000,11250.000000,11000.0,11512.333333,15000.0,14700.000000,NaN,16199.000000,NaN,17800.0,NaN,17124.500000,17000.000000,21500.0,NaN,15000.000000,16500.0,NaN
24,2021-01-01,14000.0,14000.000000,14731.666667,NaN,14000.0,14500.000000,14500.0,13805.000000,15000.0,14105.333333,11000.0,11866.666667,12253.333333,12500.0,12500.0,13400.000000,12250.000000,13250.0,11392.666667,15000.0,18000.000000,NaN,16050.000000,NaN,17800.0,NaN,17416.000000,17211.000000,20000.0,NaN,14389.000000,15000.0,17000.0
25,2021-02-01,14000.0,14000.000000,14492.000000,NaN,14000.0,14500.000000,14500.0,13643.000000,15000.0,14025.666667,11000.0,12603.500000,12500.000000,12500.0,12500.0,12506.000000,12000.000000,14000.0,11419.666667,16500.0,17000.000000,NaN,15607.000000,NaN,17800.0,NaN,17362.000000,17333.333333,20000.0,NaN,16843.500000,15000.0,17000.0
26,2021-03-01,14000.0,14000.000000,14224.666667,NaN,14000.0,14750.000000,14500.0,13305.750000,15000.0,13922.000000,11000.0,13000.000000,12500.000000,12500.0,12500.0,12847.000000,12060.666667,12500.0,11720.000000,16500.0,16500.000000,NaN,16000.000000,NaN,17800.0,NaN,16938.666667,16990.333333,18000.0,NaN,16305.000000,15000.0,17250.0
27,2021-04-01,14000.0,13776.000000,14785.333333,NaN,14000.0,13500.000000,14500.0,13629.333333,15000.0,14360.333333,11000.0,12673.000000,12507.000000,12500.0,12500.0,12941.000000,11750.000000,12500.0,11608.666667,16500.0,16500.000000,NaN,16629.666667,NaN,17800.0,NaN,17688.000000,17368.000000,18300.0,NaN,15750.000000,15000.0,17250.0
28,2021-05-01,14000.0,13776.000000,14879.000000,NaN,14000.0,13500.000000,14500.0,13692.000000,15000.0,14067.333333,11000.0,14214.000000,13508.500000,12500.0,11500.0,12817.666667,11750.000000,12500.0,11646.666667,16500.0,18000.000000,19000.0,16737.333333,NaN,17800.0,18500.000000,18250.000000,17267.000000,18320.0,NaN,16445.500000,15000.0,17250.0
29,2021-06-01,14000.0,14000.000000,14430.250000,NaN,14000.0,13500.000000,14500.0,13724.333333,15000.0,14077.666667,11000.0,12833.000000,13914.000000,12500.0,11500.0,12666.666667,11750.000000,12500.0,11647.333333,16500.0,18000.000000,19000.0,16270.666667,NaN,17800.0,18500.000000,17037.666667,17592.000000,18000.0,NaN,16400.000000,15000.0,17250.0
30,2021-07-01,15000.0,13667.666667,14312.666667,NaN,14000.0,15513.666667,14500.0,13817.666667,15000.0,13980.000000,11000.0,12726.000000,12725.000000,12500.0,11500.0,12457.666667,11799.666667,12500.0,11619.000000,16500.0,18000.000000,19000.0,15987.333333,NaN,17800.0,17678.333333,16000.000000,17283.000000,18410.0,NaN,18966.000000,15000.0,17250.0
31,2021-08-01,15250.0,13622.000000,14080.666667,NaN,14000.0,15513.666667,14500.0,13547.000000,15000.0,14334.000000,11000.0,12277.500000,12188.333333,12500.0,11500.0,12750.000000,12000.000000,12500.0,11705.000000,16500.0,18000.000000,19000.0,16100.000000,NaN,17800.0,17403.000000,16000.000000,18000.000000,17500.0,NaN,16500.000000,15000.0,17250.0
32,2021-09-01,14000.0,13859.000000,14845.666667,12000.0,14000.0,15513.666667,14500.0,13696.250000,15000.0,14251.000000,11000.0,12274.333333,12800.666667,12500.0,11500.0,13000.000000,12250.000000,12500.0,12040.000000,16500.0,18000.000000,19000.0,16101.000000,NaN,17800.0,16625.000000,15500.000000,17250.000000,17500.0,NaN,18118.500000,15000.0,17250.0
33,2021-10-01,13901.0,14168.000000,14391.000000,12000.0,14000.0,15513.666667,14500.0,13624.000000,15000.0,14264.666667,11000.0,12243.500000,12129.000000,12500.0,11500.0,11926.000000,12015.000000,12500.0,12189.666667,16500.0,18000.000000,18600.0,16406.500000,NaN,17800.0,19635.000000,17974.000000,17509.500000,17500.0,NaN,17039.000000,15000.0,17250.0
34,2021-11-01,14000.0,14000.000000,14795.333333,12000.0,14000.0,15000.000000,14500.0,14015.000000,15000.0,14651.000000,11000.0,13000.000000,11000.000000,12500.0,11500.0,12527.666667,12333.333333,12500.0,11943.000000,16500.0,18000.000000,16900.0,15948.000000,19320.0,17800.0,17000.000000,18450.000000,24500.000000,18500.0,NaN,17562.000000,15000.0,17250.0
35,2021-12-01,15900.0,14112.666667,14872.333333,12000.0,14000.0,15000.000000,14500.0,13670.333333,15000.0,14482.666667,11000.0,13000.000000,13500.000000,12500.0,11500.0,12183.000000,12500.000000,12500.0,12296.000000,16500.0,18000.000000,16900.0,15408.000000,19320.0,17800.0,17133.000000,18443.000000,16750.000000,19000.0,18500.0,17471.000000,17500.0,17250.0
36,2022-01-01,14500.0,13814.500000,14598.666667,12000.0,14000.0,15326.000000,14500.0,13855.000000,15000.0,14133.666667,11000.0,12958.000000,13954.000000,12500.0,11500.0,13000.000000,12166.666667,12500.0,11933.333333,16500.0,18000.000000,18500.0,15651.000000,19320.0,18000.0,17174.500000,18443.000000,18000.000000,19000.0,18500.0,17100.000000,18000.0,17250.0
37,2022-02-01,14000.0,14174.000000,14457.666667,12000.0,14000.0,15000.000000,14500.0,13933.666667,15000.0,14623.000000,11000.0,12267.333333,12789.000000,12500.0,11500.0,13066.000000,11750.000000,12500.0,11751.500000,16500.0,18000.000000,18500.0,16540.000000,19320.0,18500.0,18012.000000,19097.000000,18000.000000,19320.0,18900.0,16757.500000,18000.0,17700.0
38,2022-03-01,14000.0,14167.666667,15490.666667,12000.0,14000.0,15000.000000,14500.0,14074.000000,15000.0,15071.666667,11000.0,12731.000000,12500.000000,12500.0,11500.0,12585.666667,12023.500000,12500.0,11960.250000,16500.0,18000.000000,18000.0,17186.333333,19320.0,20400.0,17912.000000,18500.000000,18500.000000,21000.0,18900.0,17350.000000,18000.0,17700.0
39,2022-04-01,14500.0,14366.000000,15519.000000,12000.0,14000.0,15000.000000,14500.0,14193.000000,15000.0,15283.500000,11000.0,13335.000000,12352.000000,12500.0,11500.0,12557.666667,12000.000000,12500.0,12197.666667,16500.0,18000.000000,19000.0,16976.500000,19320.0,20400.0,20000.000000,18317.000000,17750.000000,21000.0,18900.0,18019.500000,18000.0,17700.0
40,2022-05-01,14500.0,14500.000000,14640.000000,12000.0,14000.0,15000.000000,14500.0,14493.750000,15000.0,14875.000000,12000.0,12800.000000,13700.000000,12500.0,11500.0,12463.000000,12000.000000,12500.0,12158.000000,16500.0,18000.000000,18728.5,17033.000000,19320.0,20500.0,18072.000000,18000.000000,17750.000000,21000.0,18900.0,16450.000000,18000.0,17700.0
41,2022-06-01,14437.0,14920.666667,14902.000000,12000.0,14000.0,15000.000000,14500.0,14395.000000,15000.0,14763.500000,12000.0,14734.333333,12514.000000,12500.0,11500.0,13600.000000,11850.000000,12500.0,12277.666667,16500.0,18000.000000,19500.0,17606.500000,19320.0,20500.0,18689.333333,18000.000000,17500.000000,21000.0,18900.0,18042.500000,18000.0,17700.0
42,2022-07-01,14500.0,14500.000000,15004.666667,12000.0,14000.0,15000.000000,14500.0,14637.666667,15000.0,15386.000000,12000.0,14500.000000,12850.000000,12500.0,11500.0,13030.333333,11750.000000,12500.0,12336.333333,16500.0,18000.000000,17609.5,17540.500000,17500.0,20500.0,18530.000000,19000.000000,17500.000000,21000.0,18900.0,18296.000000,18000.0,18000.0
43,2022-08-01,14500.0,15216.500000,16076.000000,12000.0,14000.0,15000.000000,14500.0,14347.000000,15000.0,14785.000000,12000.0,11705.000000,12414.000000,12500.0,11500.0,11600.000000,12000.000000,12500.0,12360.666667,16500.0,18000.000000,19750.0,17628.500000,21000.0,20500.0,19108.333333,19000.000000,17500.000000,21000.0,18900.0,19378.000000,18000.0,18500.0
44,2022-09-01,19000.0,14500.000000,15851.000000,12000.0,14000.0,15000.000000,14500.0,14424.000000,15000.0,15086.000000,12500.0,12201.500000,12876.500000,12500.0,11500.0,11600.000000,12000.000000,12500.0,12614.250000,16500.0,18000.000000,19000.0,17700.000000,21927.0,20500.0,19196.666667,18800.000000,17500.000000,21000.0,18900.0,18935.000000,18000.0,18500.0
45,2022-10-01,16500.0,14338.000000,16343.333333,12000.0,14000.0,15000.000000,14500.0,14138.333333,15000.0,14707.000000,12500.0,11830.000000,13750.000000,12500.0,11500.0,11750.000000,12166.666667,12500.0,12871.333333,16500.0,18000.000000,19182.5,18555.000000,21927.0,20500.0,19660.750000,18800.000000,17500.000000,21800.0,18900.0,18991.333333,18000.0,18500.0
46,2022-11-01,16500.0,14426.500000,15076.000000,12000.0,14000.0,15000.000000,14500.0,13952.000000,15000.0,14855.000000,12500.0,11758.000000,12757.666667,12500.0,11500.0,12900.000000,12419.000000,12500.0,11875.000000,16500.0,18000.000000,19500.0,17859.333333,21927.0,20500.0,18821.333333,18800.000000,17500.000000,21800.0,19635.0,18289.333333,18000.0,18500.0
47,2022-12-01,14054.0,14000.000000,14657.666667,12000.0,14000.0,15000.000000,14500.0,14224.500000,15000.0,14774.666667,12500.0,11391.000000,13157.500000,12500.0,11500.0,11956.666667,12000.000000,12500.0,11877.000000,16500.0,18000.000000,19500.0,17756.000000,20500.0,19500.0,18561.333333,18800.000000,17500.000000,21163.0,20000.0,18150.000000,18000.0,18800.0

In [196]:
y = y[["BRIDGESTONE R150 315/80/22.5"]]
y.columns = ["R150 sales"]
y = y.reset_index()
y

        Period  R150 sales
0   2019-01-01      1180.0
1   2019-02-01      1061.0
2   2019-03-01      1605.0
3   2019-04-01      1643.0
4   2019-05-01      1057.0
5   2019-06-01       938.0
6   2019-07-01      1130.0
7   2019-08-01       673.0
8   2019-09-01       826.0
9   2019-10-01       567.0
10  2019-11-01       849.0
11  2019-12-01       645.0
12  2020-01-01       658.0
13  2020-02-01       662.0
14  2020-03-01      1307.0
15  2020-04-01      1022.0
16  2020-05-01       626.0
17  2020-06-01       771.0
18  2020-07-01       763.0
19  2020-08-01       737.0
20  2020-09-01      1064.0
21  2020-10-01      1252.0
22  2020-11-01      1158.0
23  2020-12-01       847.0
24  2021-01-01       994.0
25  2021-02-01       532.0
26  2021-03-01      1584.0
27  2021-04-01       947.0
28  2021-05-01       688.0
29  2021-06-01       829.0
30  2021-07-01      1128.0
31  2021-08-01       904.0
32  2021-09-01      1327.0
33  2021-10-01       833.0
34  2021-11-01      1076.0
35  2021-12-01       824.0
36  2022-01-01       807.0
37  2022-02-01       753.0
38  2022-03-01      1147.0
39  2022-04-01       842.0
40  2022-05-01      1350.0
41  2022-06-01       859.0
42  2022-07-01      1179.0
43  2022-08-01      1409.0
44  2022-09-01      1150.0
45  2022-10-01      1256.0
46  2022-11-01      1149.0
47  2022-12-01      1651.0

In [197]:
result = pd.merge(x_value, y, on="Period")

In [198]:
result = result.loc[:, ["MICHELIN X MULTI Z 315/80/22.5", "MAXXIS UR288 315/80/22.5", "R150 sales"]]

In [225]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [226]:
ss = MinMaxScaler()
result = pd.DataFrame(ss.fit_transform(result), columns=["MICHELIN X MULTI Z 315/80/22.5", "MAXXIS UR288 315/80/22.5", "R150 sales"])

In [227]:
# result.dropna(inplace=True)
result.fillna(result["MICHELIN X MULTI Z 315/80/22.5"].mean(), inplace=True)

In [228]:
# result.reset_index(drop=True, inplace=True)

In [229]:
x_values = result.loc[:, result.columns[:-1]]
y = result.loc[:, result.columns[-1]]

In [230]:
mean_xvalues = x_values.mean()
mean_yvalues = y.mean()

In [231]:
# If add_constant() doesn't works,  most likely that theres is a column with variance=0, i.e. a column with all identical values.
# The solution is to add has_constant option in the add_constant() function, like: has_constant="add"
X = sm.add_constant(x_values)
# X = sm.add_constant(x_values.loc[:, x_values.columns[-1]])
model = sm.OLS(y, X, missing="drop")
results = model.fit()

results_summry = results.summary()
results_summry

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             R150 sales   R-squared:                       0.133
Model:                            OLS   Adj. R-squared:                  0.095
Method:                 Least Squares   F-statistic:                     3.460
Date:                Fri, 10 Feb 2023   Prob (F-statistic):             0.0400
Time:                        16:33:02   Log-Likelihood:                0.48756
No. Observations:                  48   AIC:                             5.025
Df Residuals:                      45   BIC:                             10.64
Df Model:                           2
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                              0.3084      0.113      2.722      0.009       0.080       0.537
MICHELIN X MULTI Z 315/80/22.5    -0.1217      0.209     -0.581      0.564      -0.543       0.300
MAXXIS UR288 315/80/22.5           0.4644      0.177      2.627      0.012       0.108       0.821
==============================================================================
Omnibus:                        4.770   Durbin-Watson:                   1.538
Prob(Omnibus):                  0.092   Jarque-Bera (JB):                4.242
Skew:                           0.728   Prob(JB):                        0.120
Kurtosis:                       3.008   Cond. No.                         7.72
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [232]:
pvalue = results.pvalues

In [233]:
new_df = pd.read_html(results_summry.tables[1].as_html(), header=0, index_col=0)[0]
new_df["p_value"] = pvalue

In [234]:
new_df.index.name = "name"
new_df.reset_index()

,name,coef,std err,t,P>|t|,[0.025,0.975],p_value
0,const,0.3084,0.113,2.722,0.009,0.080,0.537,0.009200
1,MICHELIN X MULTI Z 315/80/22.5,-0.1217,0.209,-0.581,0.564,-0.543,0.300,0.563899
2,MAXXIS UR288 315/80/22.5,0.4644,0.177,2.627,0.012,0.108,0.821,0.011747

In [235]:
new_df["crossprice_elasticity"] = (new_df.coef) * (mean_xvalues / mean_yvalues)
new_df = new_df.reset_index()
pvalue_significant = new_df["p_value"]

In [236]:
new_df["R150_CPE"] = np.where((pvalue_significant > .05), "No effet", new_df["crossprice_elasticity"])
new_df.dropna()

,name,coef,std err,t,P>|t|,[0.025,0.975],p_value,crossprice_elasticity,R150_CPE
1,MICHELIN X MULTI Z 315/80/22.5,-0.1217,0.209,-0.581,0.564,-0.543,0.300,0.563899,-0.143676,No effet
2,MAXXIS UR288 315/80/22.5,0.4644,0.177,2.627,0.012,0.108,0.821,0.011747,0.414563,0.41456283369273395

In [237]:
new_df.set_index("name")

,coef,std err,t,P>|t|,[0.025,0.975],p_value,crossprice_elasticity,R150_CPE
name,,,,,,,,,
const,0.3084,0.113,2.722,0.009,0.080,0.537,0.009200,NaN,nan
MICHELIN X MULTI Z 315/80/22.5,-0.1217,0.209,-0.581,0.564,-0.543,0.300,0.563899,-0.143676,No effet
MAXXIS UR288 315/80/22.5,0.4644,0.177,2.627,0.012,0.108,0.821,0.011747,0.414563,0.41456283369273395

## **Price Elasticity of Demand**

In [284]:
df = pd.read_excel(r"D:\kc.hsu\OneDrive - Bridgestone\\2022ACT\2021-2026_Size Data_All_20230118.xlsx", None)

In [285]:
df = df["SIZE DATA"]
df["/"].unique()

array(['21PY', 'RT3', '22OB', '22ACT', 'RT4', '24MBP', 'RT2', '23OB_V1',
       '22FSCT_V1', '22FSCT_V2', '23OB_V2'], dtype=object)

In [286]:
df[""].unique()

array(['AG', 'EX', 'FLT-REP', 'FLT-OE', 'OE', 'OT', 'FS', 'CD', 'TK',
       'DS', '', '', 'A', 'FMC ', 'MM', '', 'BSSC-FLT', 'FMC',
       'FMC BFP', 'AG', 'AG', 'AG', 'AG', 'EX-BSAP', 'EX-BSJ',
       'EX-JREP', 'OTHER', '', 'D', 'BSSC', '', 'BSAL', 'BSNZ',
       'F HONG KONG', 'BSTK', 'TBSC', 'BSTSG', 'KOREA', 'BSJ',
       'OTHER MEA', 'BSCIS', 'BSAF', 'BATO-NA', 'BSAP', 'FLT', 'FT', '',
       '', '', '', '', '', '', 'TTC', 'BFP',
       nan], dtype=object)

In [321]:
df = df[(df["/"].isin(["21PY", "22ACT"])) & (df[""] == "TBR(G)") & (df[""] == "REP")]
df = df[~df[""].str.contains("AG| FLT| FT| OE")]
data = df.copy()

KeyError: '/'

In [334]:
ref_table = pd.read_excel(r"C:\Users\kc.hsu\Python workspace\sales_related\ReferenceTable\20230206_PCODE.xlsx")

In [335]:
ref_table["name"] = ref_table[""] + " " + ref_table[""] + " " + ref_table[""]
tire_dict = dict(zip(ref_table["PCODE"], ref_table["name"]))

In [336]:
data = data[data["Date"] >= "2022-01-01"]

In [337]:
data["name"] = data[""].map(tire_dict)

In [338]:
data["Date"] = pd.to_datetime(data[""], format="%Y%m")

In [339]:
new_data = data.groupby(["Date", "name"]).agg({"": "sum", "NET":"sum"}).reset_index()
new_data["avg unit price"] = new_data["NET"] / new_data[""]
new_data = new_data[["Date", "name", "", "avg unit price"]]

In [340]:
new_data = new_data[new_data[""] != 0]

In [341]:
x_pivot = new_data.pivot(index="Date", columns="name", values="avg unit price")
x_values = pd.DataFrame(x_pivot.to_records())
x_values.fillna(method="ffill", inplace=True)
x_values

,Date,1000R20 R156 TBSC,1100R20 M840 TBSC,1100R20 R156 BTMT,11R22.5 R156 TBSC,12R22.5 D600 BTMT,12R22.5 F400 BTMT,12R22.5 M729 BTMT,12R22.5 R150 BSJ,12R22.5 R150 BTMT,12R22.5 R150AZ BSCN,12R22.5 R156 BTMT,12R22.5 R224 BTMT,1400R20 R180 BSJ,1400R20 VSJ BSJ,205/75R17.5 R294 BSJ,215/75R17.5 R156 TBSC,215/75R17.5 R184 BSJ,215/75R17.5 R294 BSJ,225/70R19.5 M810 BSJ,225/75R17.5 R294 BSJ,225/90R17.5 M810 BSJ,225/90R17.5 R225 BSJ,235/75R17.5 R156 TBSC,235/75R17.5 R294 BSJ,245/70R17.5 R168 BSJ,245/70R19.5 G623 BSJ,245/70R19.5 M729 BTMT,255/70R22.5 R294 BSJ,265/70R19.5 R294 BTMT,275/70R22.5 R162 BTMT,275/70R22.5 R208 BSCN,275/70R22.5 UAP1 BTMT,285/70R19.5 R184 BSJ,295/80R22.5 M798 BTMT,295/80R22.5 R150 BSJ,295/80R22.5 R150 BTMT,295/80R22.5 R150EZ BSCN,295/80R22.5 R154 BSJ,295/80R22.5 R156 BTMT,295/80R22.5 R192 BSJ,295/80R22.5 R294 BSJ,315/80R22.5 D600 BTMT,315/80R22.5 F400 BTMT,315/80R22.5 G515 BSJ,315/80R22.5 G582 BTMT,315/80R22.5 M729 BTMT,315/80R22.5 M749 BTMT,315/80R22.5 M778Z BSCN,315/80R22.5 M805 BTMT,315/80R22.5 M840 BTMT,315/80R22.5 R150 BSJ,315/80R22.5 R150 BTMT,315/80R22.5 R150BZ BSCN,315/80R22.5 R156 BTMT,315/80R22.5 R294 BTMT,385/65R22.5 R168 BTMT,385/65R22.5 R249 BTMT,750R16 R156 TBSC,750R16 R225 BSJ,825R16 R225 BSJ,9.5R17.5 R294 BSJ,9.5R17.5 R294 TBSC
0,2022-01-01,10543.333333,10505.555556,10102.500000,NaN,6975.142857,7227.529412,9372.814947,9497.771429,9431.360190,8041.820000,10474.5,8673.102564,NaN,NaN,6229.000000,5335.000000,NaN,5671.542918,NaN,6064.482143,5099.580247,4611.429204,5744.413333,6127.946768,6482.545455,5245.846154,NaN,8408.0000,NaN,9432.000000,6900.525926,NaN,NaN,12475.000000,9726.836310,8919.258654,7965.371429,NaN,9155.058659,9048.0,9914.440678,8196.446281,7940.563107,NaN,10231.807229,10631.230409,12629.750000,9400.400000,12213.366667,NaN,10932.441176,10180.890490,8870.313253,NaN,10551.577938,12755.758514,13082.626506,NaN,5105.630058,5632.943299,6425.070822,NaN
1,2022-02-01,10543.333333,12690.333333,12676.500000,NaN,8178.400000,8196.486486,9998.533742,10286.316062,9601.365482,8095.240000,9619.0,9544.067708,21176.15,NaN,5762.250000,5335.000000,NaN,5752.600000,8123.013333,5980.769231,5639.601227,5331.419795,5659.125000,6156.418519,7492.444444,11472.500000,NaN,-7596.5000,NaN,6480.090909,5157.894737,NaN,8493.750000,12467.000000,10375.987745,9667.028855,7943.000000,NaN,7652.918660,9048.0,10371.650000,9511.703030,9145.544041,NaN,10970.444944,11367.844671,12629.750000,9413.706422,13272.803922,NaN,34054.000000,10825.562657,8924.505882,NaN,11242.304615,13256.950192,14554.694444,NaN,5103.991285,5611.411874,6393.315238,NaN
2,2022-03-01,10919.625000,11832.000000,11220.142857,NaN,7426.797872,7504.727273,9524.928803,10203.134615,9621.575092,7663.800000,9619.0,10668.785714,21176.15,NaN,5880.837037,5528.516667,NaN,5972.163588,8123.013333,6247.844037,5361.889610,5033.553785,5876.361702,6340.285714,8839.629310,5389.000000,NaN,-7596.5000,NaN,8965.354286,4895.833333,10937.4,9914.666667,13773.100000,10107.593625,9419.665635,8088.535865,NaN,9328.378882,9048.0,10135.513889,8590.670846,8564.258182,NaN,10958.791866,11054.853901,14075.000000,9385.102151,13196.568182,13413.00,10710.333333,10555.514030,9126.414948,NaN,10928.649049,13116.215768,13583.080808,NaN,5262.295580,5821.911168,6637.095064,6617.895425
3,2022-04-01,10836.000000,12199.000000,11495.625000,11848.923077,7426.797872,7232.240000,10112.577869,10276.694444,9473.394822,8652.380000,10286.0,10176.500000,21176.15,NaN,5992.147410,5127.000000,NaN,5987.073048,8123.013333,6363.294118,6427.733333,6063.240000,5847.263889,6407.800000,7213.895833,6642.666667,NaN,-7596.5000,NaN,8709.124324,5500.000000,10937.4,9914.666667,13319.200000,10147.488889,9739.340726,7988.501859,NaN,9072.672727,9524.0,12590.500000,8590.670846,8212.125000,NaN,11537.792793,11379.401734,14075.000000,8969.099010,12000.500000,14486.00,12655.732673,10946.383578,8579.864706,NaN,10924.524823,12984.765766,15647.944444,NaN,5472.075676,5951.790000,7041.058366,6713.439394
4,2022-05-01,11185.166667,12199.000000,13112.800000,11848.923077,8183.750000,6926.500000,9929.034615,11092.433962,9787.231511,8652.380000,10488.0,9910.717391,21176.15,NaN,6056.976744,5699.000000,NaN,5908.320000,8123.013333,6362.954373,6358.883212,6212.168919,6222.800000,6442.118943,7296.717391,6278.875000,NaN,8408.0000,NaN,8658.447115,5500.000000,10937.4,9914.666667,12028.888889,10643.956140,9852.663043,8640.448276,NaN,9496.743421,10476.0,11102.092593,8877.446809,9246.142857,12359.000000,11548.884793,11429.456954,12641.000000,9429.000000,12918.407407,14486.00,12421.968858,11035.255269,9723.647619,10476.0,11554.645233,13314.563981,15280.342105,5120.000000,5459.303514,5968.100610,7048.807440,7057.536290
5,2022-06-01,11092.400000,11850.750000,10781.000000,11848.923077,9423.000000,7374.019231,10253.835586,10411.372549,9355.382222,8652.380000,10488.0,10192.914286,21083.00,NaN,5991.571429,5684.432836,NaN,5973.665281,8123.013333,6341.715347,6746.324675,6331.898305,6242.649351,6385.441397,7655.604167,6382.250000,NaN,8408.0000,NaN,9240.706468,5500.000000,10937.4,9914.666667,12526.875000,10398.761658,10240.482044,8931.150000,NaN,9849.417808,9048.0,11627.741935,8949.786885,10439.578125,13034.406504,11933.065217,11850.610410,12629.500000,9429.000000,13646.317073,13514.25,11236.402062,11259.493435,8985.141667,10476.0,11390.827381,13938.039007,15722.533333,5109.652174,5438.494200,5929.066308,7044.304438,7064.086093
6,2022-07-01,11801.538462,13649.000000,9644.000000,13972.500000,9423.000000,7143.000000,11242.195219,11090.600000,8438.286064,8652.380000,10488.0,10748.339286,21604.00,NaN,6211.244898,6062.666667,NaN,6465.258706,9762.000000,6866.939502,7282.305556,6769.476190,6515.121212,6808.019231,8824.600000,7234.933333,NaN,8720.0625,NaN,8808.404959,5500.000000,10937.4,9914.666667,14205.166667,13099.500000,11456.230994,8837.014706,NaN,9470.981043,9864.0,11705.200000,8785.852174,9370.690000,14230.590164,13128.463768,12394.523517,12708.272727,9429.000000,13980.954545,15512.00,12336.400000,12323.974646,8474.268041,10476.0,12854.791045,13109.913669,17529.260870,5344.000000,5800.305344,6177.159763,7448.566327,2822.000000
7,2022-08-01,11357.153846,13119.761905,9644.000000,13972.500000,9423.000000,7143.000000,10228.683258,11835.760000,9282.900369,8652.380000,10488.0,9477.179487,20194.60,NaN,6372.518519,5018.000000,NaN,6232.447236,9762.000000,6780.290476,6300.181818,6548.230769,6301.666667,6938.849398,7838.755556,5928.478261,NaN,8720.0625,9718.0,9456.315985,5500.000000,10937.4,9914.666667,12031.100000,11213.268293,9859.056707,9309.525000,10476.0,9383.620690,9048.0,10418.853659,6523.631579,9294.663793,11435.302326,11315.481203,11464.933416,12708.272727,9429.000000,11769.526316,11635.00,12893.290466,10172.795367,9399.650000,10476.0,10596.841424,13179.059524,14807.269231,5338.586207,5854.639405,6356.065089,7598.210714,7403.233038
8,2022-09-01,13336.714286,16106.333333,9644.000000,13972.500000,9423.000000,7143.000000,10144.538835,23646.692308,10075.987395,7493.528736,10488.0,9849.012821,20194.60,NaN,6532.859223,5911.031250,NaN,6630.657718,9762.000000,6892.949458,7353.489796,6916.009615,6388.000000,6897.692308,8456.660000,23307.000000,NaN,8408.0000,9718.0,9173.710784,5500.000000,10937.4,9914.666667,10930.833333,8828.402985,9275.470714,9309.525000,10476.0,9345.390152,9048.0,10521.147059,6523.631579,9294.663793,6789.647059,10293.067742,10203.950392,12708.272727,9429.000000,11858.878788,11635.00,7075.518519,9860.391465,9340.267606,10476.0,10455.478313,13674.326829,14410.729927,5296.333333,5884.096000,6440.733068,7636.479871,7397.062069
9,2022-10-01,13364.125000,14438.200000,9644.000000,12086.500000,9423.000000,7143.000000,12366.974138,15386.857143,10569.063063,8652.383333,10488.0,11924.534161,20194.60,NaN,6446.107692,5690.468750,NaN,6090.208696,9762.000000,6884.773438,10668.863636,11340.775862,6186.000000,6973.754491,10127.857143,9318.000000,6276.4,8493.7000,7622.0,8981.543253,5500.000000,10937.4,9914.666667,14857.400000,13722.837607,11031.378422,10663.500000,10476.0,10058.365729,9048.0,12930.740741,6523.631579,9210.000000,17649.133333,12786.057778,13320.929496,12708.272727,9429.000000,16824.384615,11635.00,13861.704023,13069.723562,8616.585366,10476.0,13641.175896,15087.252632,16563.000000,5514.000000,5701.777108,6255.321759,7636.543590,7412.505618
10,2022-11-01,12052.500000,13506.000000,12962.000000,11608.250000,9423.000000,7143.000000,9944.524904,10969.526316,9606.076923,8652.383333,10488.0,9176.000000,17268.20,NaN,6427.175676,5825.100000,6160.0,6517.584906,9762.000000,6848.243750,6501.863636,6905.245902,6301.111111,6829.833333,8755.161616,7451.000000,6276.4,8493.7000,7622.0,8615.726027,6800.000000,10937.4,8990.500000,12378.000000,10339.233374,9584.023546,7962.384058,10476.0,8849.701538,9048.0,10395.425000,6523.631579,9210.000000,12287.500000,10550.053097,10956.024876,12708.272727,9429.000000,12253.071429,11635.00,11479.420662,10808.392679,9191.000000,10476.0,10537.370607,12488.996283,13844.525316,5154.000000,5796.421245,6335.805907,7663.629080,7400.556911
11,2022-12-01,12034.000000,13506.000000,12640.500000,11608.250000,8095.000000,7143.000000,9745.711111,11291.962963,9620.384615,8175.381818,10488.0,9462.864706,17268.20,16175.0,6519.456250,6015.500000,6160.0,6316.029499,9762.000000,6871.888889,6742.433333,6567.007519,6414.419355,6871.236220,7480.680851,6713.000000,6276.4,8493.7000,7622.0,7136.594378,6800.000000,10937.4,8990.500000,11330.705882,4761.647059,8600.425714,7962.384058,10000.0,9414.289803,9048.0,10014.538462,6523.631579,9195.700000,11455.941176,8901.719745,10702.504551,12708.272727,9429.000000,11669.000000,11635.00,6619.858268,10039.891588,9191.000000,10476.0,9629.483951,13396.240175,12016.383562,5154.000000,5885.312821,6423.443820,7649.647668,7397.483444

In [342]:
y_pivot = new_data.pivot(index="Date", columns="name", values="")
y_values = pd.DataFrame(y_pivot.to_records())
y_values.fillna(method="ffill", inplace=True)
y_values

,Date,1000R20 R156 TBSC,1100R20 M840 TBSC,1100R20 R156 BTMT,11R22.5 R156 TBSC,12R22.5 D600 BTMT,12R22.5 F400 BTMT,12R22.5 M729 BTMT,12R22.5 R150 BSJ,12R22.5 R150 BTMT,12R22.5 R150AZ BSCN,12R22.5 R156 BTMT,12R22.5 R224 BTMT,1400R20 R180 BSJ,1400R20 VSJ BSJ,205/75R17.5 R294 BSJ,215/75R17.5 R156 TBSC,215/75R17.5 R184 BSJ,215/75R17.5 R294 BSJ,225/70R19.5 M810 BSJ,225/75R17.5 R294 BSJ,225/90R17.5 M810 BSJ,225/90R17.5 R225 BSJ,235/75R17.5 R156 TBSC,235/75R17.5 R294 BSJ,245/70R17.5 R168 BSJ,245/70R19.5 G623 BSJ,245/70R19.5 M729 BTMT,255/70R22.5 R294 BSJ,265/70R19.5 R294 BTMT,275/70R22.5 R162 BTMT,275/70R22.5 R208 BSCN,275/70R22.5 UAP1 BTMT,285/70R19.5 R184 BSJ,295/80R22.5 M798 BTMT,295/80R22.5 R150 BSJ,295/80R22.5 R150 BTMT,295/80R22.5 R150EZ BSCN,295/80R22.5 R154 BSJ,295/80R22.5 R156 BTMT,295/80R22.5 R192 BSJ,295/80R22.5 R294 BSJ,315/80R22.5 D600 BTMT,315/80R22.5 F400 BTMT,315/80R22.5 G515 BSJ,315/80R22.5 G582 BTMT,315/80R22.5 M729 BTMT,315/80R22.5 M749 BTMT,315/80R22.5 M778Z BSCN,315/80R22.5 M805 BTMT,315/80R22.5 M840 BTMT,315/80R22.5 R150 BSJ,315/80R22.5 R150 BTMT,315/80R22.5 R150BZ BSCN,315/80R22.5 R156 BTMT,315/80R22.5 R294 BTMT,385/65R22.5 R168 BTMT,385/65R22.5 R249 BTMT,750R16 R156 TBSC,750R16 R225 BSJ,825R16 R225 BSJ,9.5R17.5 R294 BSJ,9.5R17.5 R294 TBSC
0,2022-01-01,9.0,9.0,10.0,NaN,7.0,34.0,281.0,140.0,211.0,50.0,2.0,156.0,NaN,NaN,4.0,10.0,NaN,466.0,NaN,56.0,162.0,226.0,75.0,263.0,99.0,26.0,NaN,10.0,NaN,96.0,135.0,NaN,NaN,3.0,336.0,1040.0,70.0,NaN,358.0,32.0,59.0,242.0,103.0,NaN,332.0,855.0,4.0,10.0,30.0,NaN,204.0,1388.0,166.0,NaN,417.0,323.0,83.0,NaN,346.0,388.0,1059.0,NaN
1,2022-02-01,9.0,9.0,2.0,NaN,25.0,37.0,326.0,193.0,197.0,100.0,17.0,192.0,20.0,NaN,32.0,14.0,NaN,95.0,75.0,13.0,163.0,293.0,16.0,270.0,72.0,2.0,NaN,2.0,NaN,55.0,38.0,NaN,32.0,8.0,408.0,1109.0,50.0,NaN,209.0,20.0,80.0,165.0,193.0,NaN,445.0,882.0,4.0,109.0,51.0,NaN,2.0,1987.0,85.0,NaN,650.0,261.0,36.0,NaN,459.0,539.0,1621.0,NaN
2,2022-03-01,8.0,17.0,7.0,NaN,94.0,66.0,309.0,104.0,273.0,100.0,17.0,112.0,20.0,NaN,135.0,60.0,NaN,379.0,75.0,109.0,154.0,251.0,94.0,133.0,116.0,2.0,NaN,2.0,NaN,175.0,48.0,5.0,18.0,10.0,251.0,969.0,237.0,NaN,322.0,20.0,72.0,319.0,275.0,NaN,418.0,705.0,10.0,186.0,44.0,11.0,21.0,1675.0,388.0,NaN,473.0,241.0,99.0,NaN,362.0,394.0,1094.0,153.0
3,2022-04-01,2.0,4.0,8.0,13.0,94.0,50.0,244.0,36.0,309.0,100.0,1.0,94.0,20.0,NaN,251.0,1.0,NaN,397.0,75.0,17.0,15.0,25.0,72.0,25.0,48.0,6.0,NaN,2.0,NaN,185.0,16.0,5.0,18.0,10.0,45.0,496.0,269.0,NaN,165.0,30.0,24.0,319.0,32.0,NaN,111.0,346.0,10.0,101.0,14.0,1.0,101.0,816.0,170.0,NaN,423.0,222.0,18.0,NaN,185.0,200.0,514.0,66.0
4,2022-05-01,6.0,4.0,5.0,13.0,8.0,60.0,260.0,53.0,311.0,100.0,2.0,138.0,20.0,NaN,43.0,5.0,NaN,375.0,75.0,263.0,137.0,148.0,5.0,227.0,46.0,8.0,NaN,8.0,NaN,208.0,16.0,5.0,18.0,9.0,114.0,552.0,29.0,NaN,152.0,10.0,54.0,47.0,35.0,1.0,217.0,453.0,8.0,84.0,27.0,1.0,867.0,1281.0,525.0,24.0,451.0,211.0,38.0,10.0,313.0,328.0,457.0,248.0
5,2022-06-01,5.0,8.0,4.0,13.0,4.0,104.0,444.0,102.0,450.0,100.0,2.0,280.0,2.0,NaN,147.0,67.0,NaN,481.0,75.0,404.0,77.0,118.0,77.0,401.0,144.0,8.0,NaN,8.0,NaN,201.0,16.0,5.0,18.0,32.0,193.0,724.0,20.0,NaN,146.0,8.0,62.0,122.0,64.0,123.0,322.0,634.0,4.0,48.0,41.0,4.0,97.0,1447.0,240.0,24.0,504.0,282.0,45.0,23.0,431.0,558.0,1442.0,302.0
6,2022-07-01,13.0,2.0,1.0,2.0,4.0,18.0,251.0,25.0,409.0,50.0,2.0,112.0,30.0,NaN,196.0,6.0,NaN,201.0,9.0,281.0,36.0,42.0,33.0,208.0,15.0,15.0,NaN,16.0,NaN,121.0,16.0,5.0,18.0,6.0,32.0,342.0,204.0,NaN,211.0,28.0,70.0,115.0,200.0,61.0,69.0,489.0,66.0,48.0,22.0,2.0,20.0,1341.0,97.0,24.0,335.0,278.0,46.0,4.0,262.0,169.0,392.0,1.0
7,2022-08-01,13.0,21.0,1.0,2.0,4.0,18.0,221.0,25.0,271.0,50.0,2.0,78.0,20.0,NaN,108.0,1.0,NaN,398.0,9.0,210.0,44.0,104.0,18.0,166.0,90.0,23.0,NaN,16.0,2.0,269.0,16.0,5.0,18.0,10.0,205.0,917.0,40.0,12.0,174.0,12.0,41.0,38.0,116.0,86.0,133.0,811.0,66.0,48.0,19.0,2.0,451.0,1554.0,160.0,24.0,309.0,168.0,52.0,29.0,269.0,169.0,560.0,339.0
8,2022-09-01,7.0,3.0,1.0,2.0,4.0,18.0,206.0,13.0,238.0,174.0,2.0,156.0,20.0,NaN,206.0,32.0,NaN,298.0,9.0,277.0,98.0,104.0,23.0,299.0,50.0,1.0,NaN,10.0,2.0,204.0,16.0,5.0,18.0,6.0,67.0,939.0,40.0,12.0,264.0,12.0,34.0,38.0,116.0,17.0,310.0,766.0,66.0,48.0,33.0,2.0,54.0,1898.0,71.0,24.0,830.0,205.0,137.0,6.0,250.0,251.0,621.0,580.0
9,2022-10-01,8.0,5.0,1.0,2.0,4.0,18.0,232.0,14.0,333.0,120.0,2.0,161.0,20.0,NaN,130.0,64.0,NaN,345.0,9.0,128.0,22.0,58.0,47.0,167.0,42.0,2.0,10.0,10.0,13.0,289.0,16.0,5.0,18.0,10.0,117.0,1242.0,20.0,12.0,391.0,20.0,54.0,38.0,16.0,15.0,225.0,695.0,66.0,48.0,13.0,2.0,348.0,1617.0,41.0,24.0,307.0,190.0,60.0,1.0,498.0,432.0,585.0,178.0
10,2022-11-01,4.0,2.0,5.0,4.0,4.0,18.0,261.0,19.0,390.0,120.0,2.0,101.0,40.0,NaN,74.0,20.0,30.0,159.0,9.0,160.0,22.0,61.0,18.0,156.0,99.0,4.0,10.0,10.0,13.0,219.0,40.0,5.0,24.0,5.0,827.0,1444.0,138.0,12.0,325.0,20.0,40.0,38.0,29.0,20.0,565.0,603.0,66.0,48.0,28.0,2.0,1481.0,1803.0,20.0,24.0,313.0,269.0,316.0,20.0,273.0,237.0,337.0,246.0
11,2022-12-01,2.0,2.0,4.0,4.0,15.0,18.0,270.0,27.0,260.0,165.0,2.0,170.0,40.0,3.0,160.0,2.0,30.0,339.0,25.0,90.0,60.0,133.0,93.0,254.0,47.0,2.0,10.0,10.0,13.0,249.0,59.0,5.0,24.0,17.0,68.0,1050.0,138.0,180.0,559.0,20.0,65.0,38.0,20.0,85.0,157.0,1758.0,66.0,48.0,48.0,2.0,127.0,2758.0,20.0,24.0,405.0,229.0,73.0,20.0,195.0,178.0,579.0,302.0

In [347]:
points = []
results_values = {
    "name": [],
    "price_elasticity": [],
    "price_mean": [],
    "quantity_mean": [],
    "intercept": [],
    "t_score":[],
    "slope": [],
    "coefficient_pvalue" : [],
    "rsquared": []
}


for column in x_values.columns[1:]:
    column_points = []
    for i in range(len(x_values[column])):
        if not np.isnan(x_values[column][i]) and not np.isnan(y_values[column][i]):
            column_points.append((x_values[column][i], y_values[column][i]))
    df = pd.DataFrame(list(column_points), columns=["x_values", "y_values"])
    # print(df)
    x_value = df["x_values"]
    y_value = df["y_values"]
    X = sm.add_constant(x_value)
    model = sm.OLS(y_value, X)
    result = model.fit()
    
    if result.f_pvalue < 0.05:
        rsquared = result.rsquared
        coefficient_pvalue = result.f_pvalue
        intercept, slope = result.params
        mean_price = np.mean(x_value)
        mean_quantity = np.mean(y_value)
        tintercept, t_score = result.tvalues
        
        price_elasticity = (slope) * (mean_price/mean_quantity)

        results_values["name"].append(column)
        results_values["price_elasticity"].append(price_elasticity)
        results_values["price_mean"].append(mean_price)
        results_values["quantity_mean"].append(mean_quantity)
        results_values["intercept"].append(intercept)
        results_values['t_score'].append(t_score)
        results_values["slope"].append(slope)
        results_values["coefficient_pvalue"].append(coefficient_pvalue)
        results_values["rsquared"].append(rsquared)
        
final_df = pd.DataFrame.from_dict(results_values)
df_elasticity = final_df[['name','price_elasticity','t_score','coefficient_pvalue','slope','price_mean','quantity_mean','intercept','rsquared']]
df_elasticity

,name,price_elasticity,t_score,coefficient_pvalue,slope,price_mean,quantity_mean,intercept,rsquared
0,12R22.5 D600 BTMT,-8.630788,-2.553605e+00,2.868608e-02,-0.022411,8568.657383,22.250000,214.285024,0.394706
1,12R22.5 R156 BTMT,-40.085467,-1.407143e+01,6.450859e-08,-0.017147,10325.208333,4.416667,181.460812,0.951924
2,1400R20 R180 BSJ,-4.463646,-3.227938e+00,1.035681e-02,-0.005055,20228.345455,22.909091,125.167164,0.536550
3,225/70R19.5 M810 BSJ,-8.612951,-2.148268e+01,4.827871e-09,-0.038642,9017.006061,40.454545,388.887551,0.980872
4,225/90R17.5 M810 BSJ,-1.958665,-2.317988e+00,4.291962e-02,-0.024093,6706.929173,82.500000,244.089883,0.349512
5,225/90R17.5 R225 BSJ,-1.481367,-2.240095e+00,4.899631e-02,-0.029446,6552.537989,130.250000,323.198106,0.334134
6,255/70R22.5 R294 BSJ,0.287933,5.098251e+00,4.652132e-04,0.000557,4480.310417,8.666667,6.171251,0.722162
7,265/70R19.5 R294 BTMT,-5.162902,-1.038505e+15,1.968995e-45,-0.005248,8460.400000,8.600000,53.000954,1.000000
8,275/70R22.5 R208 BSCN,5.252638,2.635418e+00,2.492927e-02,0.032860,5754.521166,36.000000,-153.094976,0.409870
9,285/70R19.5 R184 BSJ,-3.985887,-1.310889e+01,3.614507e-07,-0.008440,9617.462121,20.363636,101.530790,0.950233
10,295/80R22.5 R154 BSJ,-80.346749,-2.559527e+14,1.315199e-43,-0.352941,10380.800000,45.600000,3709.411765,1.000000
11,315/80R22.5 D600 BTMT,3.420943,2.374277e+00,3.899152e-02,0.055210,7843.394564,126.583333,-306.450975,0.360499
12,825R16 R225 BSJ,-5.983748,-2.798777e+00,1.883401e-02,-0.315423,6075.312722,320.250000,2236.545454,0.439247
13,9.5R17.5 R294 BSJ,-6.025261,-3.550482e+00,5.264016e-03,-0.647160,7185.227385,771.750000,5421.744809,0.557638